<div class="text">
  <div class="title">Profile Info</div>
  {{input value=fname placeholder="First Name"}}
  {{input value=lname placeholder="Last Name"}}
  {{input value=zipcode placeholder="ZIP Code"}}
  {{input type=number value=age placeholder="Age"}}
  {{input value=ethnicity placeholder="Ethnicity"}}
  {{input value=orientation placeholder="Orientation"}}
  {{input value=height placeholder="Height(cm)"}}
  {{input value=weight placeholder="Weight(kg)"}}
</div>

{{#nod-button title="Continue" submit=(action "continue")}}
{{/nod-button}}