{{!--
/* Application:  NOD
* File:  app/templates/components/post-dashboard.js
* Author: Bard Polley
* Creation Date: 28 Nov 2018
* Feature: 117 - Component view for dashboard GUI
* Purpose: Component for use in dashboard GUI (HTML/Handlebar script
* Modification History:
* - 28 Nov 2018 (bwp) - Initial build
* - 03 Dec 2018 (bwp) - fixed comments
***********************************************/
--}}
<article class="post">
  <table border="1" width="90%">
    <tbody>
    <tr align="center">
      <td border="1">{{image}}Image</td>
      <td>
        <table>
          <tr>
            <td colspan="2" border="1">Title: {{title}}</td>
          </tr>
          <tr>
            <td colspan="2" border="1">Description: {{description}}</td>
          </tr>
          <tr>
            <td border="1">Created on: {{dateMade}}</td>
            <td border="1">Pay Rate: {{payRate}}</td>
            </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</article>