{{!--
/* Application:  NOD
* File:  app/templates/components/post-dashboard.js
* Author: Bard Polley
* Creation Date: 28 Nov 2018
* Feature: 117 - Component view for dashboard GUI
* Purpose: Component for use in dashboard GUI (HTML/Handlebar script
* Modification History:
* - 28 Nov 2018 (bwp) - Initial build
* - 03 Dec 2018 (bwp) - fixed comments
* - 04 Dec 2018 (AIB) - Styling the component
***********************************************/
--}}
{{!-- <article class="post">
  <table border="1" width="90%">
    <tbody>
    <tr align="center">
      <td border="1">{{image}}</td>
      <td>
        <table>
          <tr>
            <td colspan="2" border="1">Title: {{title}}</td>
          </tr>
          <tr>
            <td colspan="2" border="1">Description: {{description}}</td>
          </tr>
          <tr>
            <td border="1">Created on: {{dateMade}}</td>
            <td border="1">Pay Rate: {{payRate}}</td>
            </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</article> --}}

<div class="post">
  <div class="image">{{image}}</div>
  <div class="body">
    <div class="title">{{title}}</div>
    <div class="description">{{description}}</div>
    <div class="dateMade">{{moment-format dateMade 'MM/DD/YYYY'}}</div> 
    {{!-- I changed words from "Created On" to "Ends"
    However the date being displayed is just whatever
    date we are getting from the db. Not sure what the
    datamodel is actually looking for? --}}
    <div class="payRate">${{payRate}}</div>
  </div>
</div>