{{!--
/************************************************
* Application:  NOD
* File:  app/templates/onboarding/survey/userinfo/1.hbs
* Author:
* Creation Date: 11 Nov 2018
* Feature: 46 - implement  onboarding - user info page 1.
* Purpose: Handlebar Script for retrieving user information
* Modification History:
* - 11 Nov 2018 (bwp) - Initial build - sample display
* - 17 Nov 2018 (aib) - Adding put to route to send data to backend so that a user account will be created
***********************************************/
--}}

<div>
  <a href="../../terms">Previous - Terms & Conditions</a><a href="2">Next - Basic Info (2)</a>
</div>
<h2>Onboarding - User Information (1)</h2>


<label>E-mail Address: </label>
  {{input type="text" value=email name="email" placeholder="email"}}<br>
<label>Password: </label>
  {{input type="password" value=password1 name="password1" placeholder="password"}}<br>
<label>Confirm Password: </label>
  {{input type="password" value=password2 name="password2" placeholder="confirm password"}}<br>
<label>First Name: </label>
  {{input type="text" value=first_name name="first_name" placeholder="first name"}}<br>
<label>Last Name: </label>
  {{input type="text" value=last_name name="last_name" placeholder="last name"}}<br>
<label>Zip Code: </label>
  {{input type="number" value=zipcode name="zipcode" placeholder="xxxxx"}}<br>

<button type="submit" name="submit-btn" onclick={{action "executePost"}}>Submit Basic Info (1)</button>
{{!-- How do I pass a value input a input field --}}

{{outlet}}