{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/account.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 89 - implement Account route for GUI
* Purpose: Handlebar Script for account route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 26 Nov 2018 (bwp) - Moved under core (authenticated page)
***********************************************/
--}}

<div>
  <div id="parent">
    <div id="page-title-container">
      <h4 id="page-title">Update Account Info</h4>
      <br>
      <br>
    </div>
    <form onSubmit="">
      {{input class="input" value=fname placeholder="First Name"}}
      {{input class="input" value=lname placeholder="Last Name"}}
      {{input class="input" type=number value=age placeholder="Age"}}
      {{input class="input" value=ethnicity placeholder="Ethnicity"}}
      {{input class="input" value=orientation placeholder="Orientation"}}
      {{input class="input" value=height placeholder="Height(cm)"}}
      {{input class="input" value=weight placeholder="Weight(kg)"}}
    </form>
    {{#nod-button title="Apply" submit=(action "updateProfile")}}
    {{/nod-button}}
    <br>
    {{#nod-button title="Sign Out" submit=(action "signOut")}}
    {{/nod-button}}
  </div>
</div>

{{outlet}}
