{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/post.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 87 - implement Post route for GUI
* Purpose: Handlebar Script for post route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 25 Nov 2018 (bwp) - Relocated to core route
***********************************************/
--}}

<div class="single_post_page">
  <div class="imageDiv">
    {{!-- <img class="image" src="/assets/single_post_image.png">{{model.image}} --}}
  </div>
  <div class="content">
    <div class="title">{{model.title}}</div>
    <div class="dateMade">Available {{moment-format model.dateMade 'MM/DD/YYYY'}}</div>
    {{!-- ^ needs to be a date-range of time study is available --}}
    <div class="payRate">{{model.payRate}}</div>
    <div class="description">{{model.description}}</div>
  </div>
{{!-- Need a Accept button --}}
</div>


{{outlet}}
