{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/profile.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 86 - implement Profile Route
* Purpose: Handlebar Script for profile route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 25 Nov 2018 (bwp) - Relocated to core route
***********************************************/
--}}
<div id="topBar">User Profile</div>
<br>
<div>
  <p>First Name: {{model.fname}} </p>
  <p>Last Name: {{model.lname}} </p>
  <p>Age: {{model.age}} </p>
  <p>Ethnicity: {{model.ethnicity}} </p>
  <p>Orientation: {{model.orientation}} </p>
  <p>Height: {{model.height}} </p>
  <p>Weight: {{model.weight}} </p>
</div>
<br>
<div id="footer">Footer placeholder - User Actions<br>
  <button>Update Account Info</button><br>
  <button>Update Payment Info</button><br>
  <button>Take the Lifestyle Survey Again</button>
</div>
