{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/profile.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 86 - implement Profile Route
* Purpose: Handlebar Script for profile route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 25 Nov 2018 (bwp) - Relocated to core route
***********************************************/
--}}
<div class="profile-main">
  <img id="profile-picture" src="../assets/profile-dummy/Profile Pic.svg">
  <span id="user-ID-label">user ID:</span><span id="user-ID-value">{{currentUserID}}</span>
  <span id="profile-ID-label">profile ID:</span><span id="profile-ID-value">{{model.id}}</span>
  <span id="name-value">{{model.fname}} {{model.lname}}</span>
  <span id="age-label">Age:</span><span id="age-value">{{model.age}}</span>
  <span id="ethnicity-label">Ethnicity:</span><span id="ethnicity-value">{{model.ethnicity}}</span>
  <span id="orientation-label">Orientation:</span><span id="orientation-value">{{model.orientation}}</span>
  <span id="height-label">Height:</span><span id="height-value">{{model.height}}</span>
  <span id="weight-label">Weight:</span><span id="weight-value">{{model.weight}}</span>

  <button id="update-account-button">Update Account Info</button><br>
  <button id="update-payment-button">Update Payment Info</button><br>
  <button id="retake-survey-button">Take the Lifestyle Survey Again</button>

  <br><br>
  <p>Update Profile</p>

  {{input value=fname placeholder="First Name"}}
  {{input value=lname placeholder="Last Name"}}
  {{input type=number value=age placeholder="Age"}}
  {{input value=ethnicity placeholder="Ethnicity"}}
  {{input value=orientation placeholder="Orientation"}}
  {{input value=height placeholder="Height(cm)"}}
  {{input value=weight placeholder="Weight(kg)"}}

  <br>

  {{#nod-button title="Apply" submit=(action "updateProfile")}}
  {{/nod-button}}

</div>
